.counter {
    background-color: #aa54c2;
}

.title h1 {
    font-family: var(--font-family--Montserrat);
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.title p {
    font-family: var(--font-family--Montserrat);
    font-size: 14px;
    color: white;
} 

.ScrollCounter {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.Counter-Mainheading {
    font-size: 16px;
    color: var(--color-yellow) !important;
    font-family: var(--font-family--Montserrat);
}

.counter-column strong {
    font-size: 30px;
}

.counter-column {
    background-color: var(--color-white);
    width: 150px;
    color: var(--color-yellow);
    border-radius: 50%;
    height: 150px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px 0px #f8fcff;
}

.counter {
    background-image: linear-gradient(360deg, #004443, transparent),url(../CarPageImage/counterimage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:60vh;
    /* filter: brightness(0.8); */
    background-attachment: fixed;
    position: relative;
}

.Counter-Social-Icons {
    font-size: 40px !important;
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
    .Counter-margin {
        margin-top: 1rem !important;
       } 
    .counter {
        background-position: initial;
        min-height: 55vh;
    }
 }


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .counter {
        min-height: 52vh;
    }
    .title {
        padding-top: 2rem !important;
    }
    .title h1 {
        font-size: 24px;
        margin-top: 3rem !important;
    }
    .title p {
        padding: 0 20px;
        font-size: 14px;
    }
    .count-row {
        padding-top: 0rem !important;
    }
    .Counter-margin {
        margin-top: 0 !important;
    }
    .ScrollCounter {
        justify-content: space-around;
        padding-top: 2rem !important;
    }
    .counter-column {
        width: 110px;
        line-height: 40px;    
        line-height: 40px;
        height: 110px;
        box-shadow: 0 0 8px 0px #f8fcff;
    }
    .counter-column strong {
        font-size: 26px;
    }
    .Counter-Social-Icons {
        font-size: 30px !important;
    }
    .Counter-Mainheading {
        font-size: 20px;
        font-weight: 600;
    }
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
    .title h1 {
        font-size: 18px;
        margin-top: 0 !important;
    }
    .title {
        padding-top: 3rem !important;
    }
    .title p {
        font-size: 12px;
        padding: 0 10px;
    }
    .count-row {
        padding-top: 0 !important;
    }
    .counter {
        min-height: 64vh;
    }
    .Counter-margin {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
    .ScrollCounter {
        padding-top: 15px !important;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .counter-column {
        width: 100px;
        margin: 0px 20px;
        height: 100px;
    }
    .Counter-Social-Icons {
        font-size: 26px !important;
    }
    .counter-column strong {
        font-size: 20px;
        line-height: 35px;
    }
    .Counter-Mainheading {
        font-size: 18px;
        margin-bottom: 1rem !important;
    }
  }
