.Section-div > .Main-Cards{
    background-color: white;
    width: 100%;
    min-height: 100vh;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: -5rem;
}
.Section {
    background-image: linear-gradient(var(--color-linear-gradient)),url(./SectionImage/SectionImage.png);
    /* background-image: url(./SectionImage/SectionImage.png); */
    background-position:center ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 20vh !important;
    border-radius: none;
}
.Section-Box {
    display: flex;
    justify-content: space-between !important;
}

.Section-Image{
    height: 560px;
    overflow: hidden;
}
.Section-Image > img{
    height: 60%;
    width: 100%;

}

.Title > h2 {
    color: white;
    font-weight: 700;
}

.Content > p {
    color: white;
    font-size: large;
}

.Section-Tabs .nav-tabs .nav-item {
    margin: 0;
}
.Section-Tabs .nav .nav-item .nav-link {
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px !important;
}
.Section-Tabs .nav-tabs .nav-item .nav-link:hover {
    border-color: none !important;
}

.tab-pane > .Content >p {
    font-size: 14px;
}

.PhoneInputCountryIcon--border {
    background-color: var(--PhoneInputCountryFlag-backgroundColor--loading);
    box-shadow: none !important;
    font-size: 30px;
    padding: 0 5px;
}

.PhoneInputCountryIcon {
    background: none !important;
}

.PhoneInputInput {
    /* padding: 2px 10px; */
    border: none !important;
    background: none !important;
}
.PhoneInputInput:focus-visible { 
    border: none !important;
    outline: none !important;
}

.PhoneInputCountrySelectArrow {
    color: rgb(255, 1, 1);
    display: block;
    font-size: 30px; 
}

.Call-Content {
    background-color: #ffffff;
    width: 20rem !important;
    border-radius: 6px !important;
    padding: 5px 0;
}

.Section-Button .btn {
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: #fcb527;
    border-radius: 6px;
    width: 20rem;
    padding: 12px 0;
    font-weight: 600;
    transition: 0.4s ease-in-out;
}

.Section-Button .btn:hover{
    background-color:var(--color-lightgreen) ;
    color: rgb(255, 255, 255);
}

.Section-Button .btn:active{
    border: none !important;
    outline: none !important;
}

.Email-Content > input {
    outline: none;
    border: none;
    padding: 8px 10px !important;
    font-size: 18px !important;
    width: 100%;
}


/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .Section {
        height: 60vh !important;
    }
    .Title {
        padding-top: 2rem !Important;
    }
    .Section-Image > img {
        height: 46%;
        width: 100%;
    }
    .Content > p {
        font-size: 15px;
    }
    .tab-pane > .Content >p {
        font-size: 15px;
    }
 }


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .Section-Image > img {
        height: 34%;
        width: 100%;
    }
    .custom-section {
        padding: 0 !important;
    }
    .Title > h2 {
        font-size: 22px;
    }
    .Content > p {
        font-size: 13px !important;
    }
    .Section {
        height: 50vh !important;
    }
    .Title {
        padding: 0 !important;
    }
    .Call-Content {
        width: 16rem !important;
        padding: 3px 0;
    }
    .Section-Button .btn {
        font-size: 16px;
        width: 16rem;
        padding: 8px 0;
    }
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    .Section-Image {
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
    }
    .Section-Image > img {
        margin-top: 2rem !important;
        width: 100%;
        margin: 0 0px;
    }
    .Title {
    padding: 0px !important;
    margin: 0px 0 !important;
    }
    .custom-section {
        margin: 30px 0;
        padding: 0 10px !important;
    }
    .Title > h2 {
        font-size: 16px;
    }
    .Content > p {
        color: white;
        font-size: 12px !important;
        margin: 0px;
    }
    .Call-Content {
        width: 18.5rem !important;
        /* padding: 5px 0; */
    }
    .Section-Button .btn {
        width: 18.5rem;
    }
    .Content {
        margin: 5px 0px 15px 0;
    }
    .Section-Tabs {
        padding: 0px !important;
    }
    .Section {
        height: 60vh !important;
    }
    .Email-Content > input {
        padding: 6px 10px !important;
        font-size: 16px !important;
    }
    }