.Accordion-Heading .Heading {
  font-size: 32px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 3px;
}

.Accordion-Heading {
  background-color: #dee2e6;
}

.box-shadow:hover {
  background-color: rgb(122 196 193);
  color: var(--color-white);
}

.Typography-Heading {
  color: var(--color-black);
}

.box-shadow {
  box-shadow: none !important;
  border: 1px solid #d2d2d2;
  border-radius: 6px !important;
  padding: 0 10px !important;
}

.Border-Top {
  border-bottom: none !important;
  outline: none !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  background: none !important;
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  .Accordion-Heading .Heading {
    font-size: 30px;
}
.Accordion-marginTop {
  margin-top: 2rem !Important;
}
.Accordion-Heading {
 padding-bottom: 10px !important;
}
 }


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .Accordion-Heading .Heading {
    font-size: 24px;
    font-weight: 600;
   }
   .Accordion-Margin {
    margin-top: 1rem !important;
   }
   .Accordion-mb {
    margin-bottom: 1rem !Important;
   }
   .Typography-Heading {
    font-size: 15px !important;
   }
   .Accordion-Paragraph {
    font-size: 12px !important;
   }
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  }

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
   .Accordion-Margin {
    margin: 10px 0 !important;
   }
   .Accordion-Heading {
    padding-bottom: 1rem !important;
    padding-top: 0 !important;
   }
   .Accordion-Heading .Heading {
    font-size: 22px;
   }
   .css-15v22id-MuiAccordionDetails-root {
    padding: 0px 18px 10px;
   }
   .Typography-Heading {
    font-size: 14px !important;
   }
  .Accordion-Paragraph {
    font-size: 12px !important;
   }
    }